<!DOCTYPE html>
<html lang="ja">
{% raw %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ガウス過程トンプソン抽出での色最適化サンプル</title>
</head>

<body>
    <div id="app">
        <form>
            <p>
                Proposed colorへの評価を入力してください
            </p>
            -2 <input v-model="value" id="input" type="range" min="-2" max="2" />2
            <p>
                {{value}}
            </p>
            </p>
            <button @click="submitSample" type="button">submit</button>
            <button @click="reset" type="button">reset</button>
        </form>
        <ul>
            <li>Solution space :解空間</li>
            <li>Proposed color :選択された解</li>
            <li>μ :期待値関数の事後分布の期待値</li>
            <li>diag(Σ): 分散の対角成分</li>
            <li>Acquisition function :獲得関数(= UCB値)</li>
        </ul>
        <div v-for="(src, index) in reversedImageSrcs" :key=src>
            <hr />
            <p>{{reversedImageSrcs.length -index}}番目</p>
            <img :src="src" />
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script type="text/javascript" src="./static/main.js"></script>
</body>
{% endraw %}

</html>